* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: hidden;

  background-color: #aaa;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 640px;
  height: 100vh;

  background-color: white;
}

.login .logo {
  margin-bottom: 90px;

  width: 130px;
  height: 92px;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.login form input {
  width: 75%;
  height: 60px;
  border-radius: 4px;

  border: 1px solid #d7d7d7;
}

.login form button {
  margin: 15px 0;

  width: 109px;
  height: 45px;
  border-radius: 9px;

  background-color: #e7e7e7;
  color: #696969;
}

.login form input,
.login form button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}

.login .alert {
  color: red;

  transition: opacity 500ms linear;
}

.login .alert.hidden {
  display: block;

  opacity: 0;
}

.chat header {
  position: fixed;
  z-index: 1;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 32px;

  width: 100%;
  max-width: 640px;
  height: 80px;

  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.chat header .logo {
  width: 75px;
  height: 53px;
}

.chat header .menu_button {
  font-size: 48px;

  cursor: pointer;
}

.chat {
  margin: 80px 0;

  width: 100%;
  height: calc(100vh - 2 * 80px);
  max-width: 640px;

  overflow-y: scroll;
}

.chat .messages {
  padding: 26px 0;

  width: 100%;

  background-color: #f3f3f3;
}

.chat .messages .message {
  padding: 11px 9px;
  margin-bottom: 4px;

  width: 100%;
  border-radius: 2px;

  word-wrap: break-word;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  background-color: white;
}

.chat .messages .message.status {
  background-color: #dcdcdc;
}

.chat .messages .message.reserved {
  background-color: #ffdede;
}

.chat .messages .message .timestamp {
  color: #aaa;
}

.chat .messages .message .username {
  font-weight: 700;
}

.chat .messages .message .colon {
  font-weight: 400;
}

.chat .black_screen {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);
}

.chat .menu {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;

  width: 75%;
  height: 100%;
  padding-bottom: 10px;

  overflow: auto;

  background-color: white;

  transition: transform 300ms ease-in-out;
}

.chat .menu.hidden {
  display: flex;
  transform: translateX(100%);
}

.chat .menu .item {
  display: flex;
  align-items: center;

  margin: 8px 0;

  cursor: pointer;
}

.chat .menu p,
.chat .menu .item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  text-align: center;
}

.chat .menu p {
  margin-top: 20px;

  font-weight: 700;
}

.menu .item {
  font-weight: 400;
}

.chat .menu .item .icon {
  margin: 0 8px;

  font-size: 32px;
}

.chat .menu .item .check {
  position: absolute;
  right: 27px;

  font-size: 24px;

  color: #28bb25;
}

.chat footer {
  position: fixed;
  z-index: 1;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 10px 18px;

  width: 100%;
  max-width: 640px;
  min-height: 80px;

  background-color: white;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.chat footer form {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.chat footer form .send_button {
  font-size: 32px;

  cursor: pointer;
}

.chat footer form input {
  width: 100%;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
}

.chat footer form input:focus {
  font-style: normal;
}

.chat footer .receiver {
  font-size: 16px;

  color: #aaa;
}

.hidden {
  display: none;
}
